.select {
  z-index: 1;
  max-width: 10rem;
}

.caret {
  color: #777;
  font-size: 1em;
  display: flex;
  align-items: center;
  border: 1px solid #777;
  padding: 1px 10px;
  border-radius: 25px;
  height: 28px;
}
.options {
  position: absolute;
  margin: 0;
  padding: 5px;
  list-style: none;
  display: none;
  max-height: 25em;
  overflow-y: auto;
  font-size: 0.8em;
  text-align: left;
  border-radius: 0.25em;
  width: 100%;
  min-width: 8rem;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  max-width: 10rem;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.options.show {
  display: block;
  max-height: 200px;
  opacity: 1;
  animation: fadeIn 0.5s ease;
}

.option {
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.option.selected {
  background-color: hsl(200, 100%, 70%);
}

.option.highlighted {
  background-color: hsl(0, 0%, 77%);
  color: rgb(26, 26, 26);
}

.search {
  width: 100%;
  height: 25px;
  z-index: 101;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  outline: none;
  color: black;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
