.wrapper {
  position: relative;
}

.scroll-btn {
  position: fixed;
  top: 18%;
  border-radius: 50%;
  border: none;
  height: 25px;
}

.left-btn {
  left: 5%;
}

.right-btn {
  right: 9%;
}
.container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  white-space: nowrap;
  gap: 10px;
  overflow-x: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  display: none;
}

.filtertag {
  color: pink;
  font-size: 1rem;
}
.extracting {
  color: #777;
  border: 1px solid #777;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 1em;
  background-color: transparent;
  font-size: 1em;
}
.extractingActive {
  color: purple;
  border: 1px solid purple;
  background-color: rgb(244, 222, 244);
}
