.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  white-space: nowrap;
  gap: 10px;
  position: relative;
}
.filtertag {
  color: pink;
  font-size: 1rem;
}
.extracting {
  color: #777;
  border: 1px solid #777;
  border-radius: 25px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  font-size: 1em;
  background-color: transparent;
  font-size: 1em;
}
.extractingActive {
  color: purple;
  border: 1px solid purple;
  background-color: rgb(244, 222, 244);
}
